$app-primary-color: #0095FF;
$app-secondary-color: #00E096;
$app-third-color: #F79A0F;

$app-text-primary-color: #0A3C5F;

$app-red-color: #901010;
$app-green-color: #51937D;

$app-background-color-1: #CDE7FF;
$app-background-color-2: #F9FBFD;
$app-gray-color: #ACACAC;

$app-text-color : #0A3C5F;