/**
* classnames which give us the generic colors
* @author Juliette Yguel
*/

//Primary colors
.ses-primary{
    color : $app-primary-color !important;
}
.ses-secondary{
    color : $app-secondary-color !important;
}
.ses-third{
    color : $app-third-color !important;
}

//Primary background colors
.ses-primary-background{
    background-color : $app-primary-color !important;
}
.ses-secondary-background{
    background-color : $app-secondary-color !important;
}
.ses-third-background{
    background-color : $app-third-color !important;
}

//Colors depending on dynamic contents
.ses-primary-background-pills .nav-item .nav-link.active {
    background-color: $app-secondary-color !important;
}


.ses-valid{
    color : $app-green-color;
}
.ses-error{
    color: $app-red-color;
}

.ses-background-1{
    background-color : $app-background-color-1;
}
.ses-background-2{
    background-color : $app-background-color-2;
}

.ses-gray{
    color : $app-gray-color;
}

.ses-text-primary{
    color : $app-text-color
}