@import './variables/_colors.scss';
@import './utils/colors.scss';
@import './search-compagnie/search-compagnie.scss';
@import './navbar/navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap');


body {
    margin: 0;
    font-family: 'Expletus Sans', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative !important;
    min-height: 100vh !important;
    //background-color: $app-background-color-1;
    color : $app-text-color;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.vh-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.md-form > label{
    color : $app-text-color;
}
.sidebar{
    background-color:$app-primary-color ;
}

.larger-container{
    min-width: 80%;
}

.inline{
    display: flex; 
    justify-content: space-around;
}

.center-field {
    justify-content:space-between;
}
    
.logo {
    height: 100px;
    width: 100px;
}

.small-font {
    font-size: 12px;
}
